body{
    background: linear-gradient(rgba(255,165,0), rgba( 0,0,0 ) 55%);
}
header{
    background-color: white;
    color: black;
}
img{
    border-radius: 15px;
    position: relative;
    justify-content: center;
}