*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgba(255,165,0), rgba( 0,0,0 ) 100%);
    filter: blur(5px);
}
header{
    background-color: white;
    color: black;
}
img{
    border-radius: 5%;
    position: relative;
    justify-content: center;
}
a{
    list-style: none;
    color: black;
}
