.body{
    background: linear-gradient( orange, black 55%);
}
.header{
    background-color: white;
    color: black;
}
.img{
    border-radius: 5px;
    position: relative;
    justify-content: center;
}